<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HELLO WORLD</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>HELLO WORLD</h1>
    <h3>데이터 정보</h3>
    <p>탈취된 {table_name} 테이블의 {column_name}의 데이터는 다음과 같습니다.</p>
    <br>
    <ul>
        {% for i in range(data_count) %}
            <li> {{data_list[i]}} </li>
        {% endfor %}
    </ul>
    <br>
    <button onClick="location.href='/home'">홈</button>


</body>
</html>