<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HELLO WORLD</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>HELLO WORLD</h1>
    <h3>테이블 이름을 입력해주세요</h3>
    <form action="/column" method="get"class="input-container">
        <input type="text" name="table_name" placeholder="테이블 이름">
        <button type="submit">시작</button>
    </form>

    <button onClick="location.href='/home'">홈</button>

</body>
</html>