{% include 'header.html' %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>모듈프로젝트2</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>BLIND SQL INJECTION</h1>
    <h3>테이블 이름과 컬럼 이름을 입력해주세요</h3>
    <form action="/data" method="get"class="input-container">
        <input type="text" name="table_name" placeholder="테이블 이름">
        <input type="text" name="column_name" placeholder="컬럼 이름">
        <button type="submit">시작</button>
    </form>

    <br>
    <button onClick="location.href='/home'">홈</button>

</body>
</html>