<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HELLO WORLD</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>HELLO WORLD</h1>
    <h3>JSESSIONID를 입력해주세요</h3>
    <form action="/submit" method="post"class="input-container">
        <input type="text" name="user_input" placeholder="세션값을 입력해 사이트를 공격해보자!">
        <button type="submit">저장</button>
    </form>
</body>
</html>