<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>모듈프로젝트2</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <h1>BLIND SQL INJECTION</h1>
    <h3>JSESSIONID를 입력해주세요</h3>
    <form action="/submit" method="post"class="input-container">
        <input type="text" name="user_input" id="sessioninput" placeholder="JSESSIONID">
        <button type="submit">저장</button>
    </form>
</body>
</html>