<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HELLO WORLD</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>HELLO WORLD</h1>
    <h3>데이터 탈취하기</h3>
    <form action="/table" method="get"class="input-container">
        <button type="submit" id="table_btn">테이블</button>
    </form>
    <br>
    <form action="/column" method="get"class="input-container">
        <button type="submit" id="column_btn">컬럼</button>
    </form>
    <br>
    <form action="/data" method="get"class="input-container">
        <button type="submit" id="data_btn">데이터</button>
    </form>
    <br>
    <form action="/all_info" method="get"class="input-container">
        <button type="submit" id="all_btn">모든 정보</button>
    </form>

</body>
</html>