{% include 'header.html' %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>모듈프로젝트2</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>BLIND SQL INJECTION</h1>
    <h3>테이블 정보</h3>
    <p>탈취된 테이블 정보는 다음과 같습니다.</p>
    <p>항목을 클릭하면 컬럼 정보를 확인할 수 있습니다.</p>
    <ul>
        {% for i in range(table_count) %}
            <li>
                <a href="/column?table_name={{table_name_list[i]}}">{{ table_name_list[i] }}</a>
            </li>
        {% endfor %}
    </ul>
    <br>
    <button onClick="location.href='/home'">홈</button>


</body>
</html>